a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
    font: 14pt Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
    html {
        font: 16pt Arial, Helvetica, sans-serif;
    }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-item {
    margin-right: 10px
}

a:not(.navbar-brand) {
    border: 1px darkgray solid;
    border-radius: 5px;
}